<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품상세</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <link rel="icon" href="../img/favicon-32x32.png" type="image/x-icon" th:href="@{/img/favicon-32x32.png}"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../css/main_style.css" th:href="@{/css/main_style.css}"/>
    <link rel="stylesheet" href="../css/item_detail.css" th:href="@{/css/item_detail.css}"/>
</head>

<body>
<div id="up" onclick="scrollToTop()"><span class="blind">스크롤 올리기</span></div>
<!-- Header 시작 -->
<header th:replace="~{/fragment/defaultHeader :: #header}">
</header>
<!-- header 종료 -->
<!-- item-detail 시작 -->
<div class="item_detail_container">
    <h2>상품 상세</h2>
    <div class="item_img">
        <img th:src="@{${'/'+product.img_thumb}}"alt="상품이미지">
    </div>
    <div class="item_info" >
        <h3 th:text="${product.name}"></h3>
        <p>겨울에 잘어울리는 소주, 100일 저온숙성으로 부드럽습니다</p>
        <table>
            <tr>
                <td>판매가</td>
                <td th:text="${product.price}"></td>
            </tr>
            <tr>
                <td>배송비</td>
                <td>3000원/주문시결제(선결제)<p>택배</p></td>
            </tr>
            <tr>
                <td>상품코드</td>
                <td>100000813</td>
            </tr>
            <tr>
                <td>제조사</td>
                <td th:text="${product.creator}"></td>
            </tr>
            <tr>
                <td>원산지</td>
                <td>국내산</td>
            </tr>
        </table>
        <form method="post" th:action="@{/addCart}" id="orderForm">
            <input type="hidden" name="id" th:value="${product.id}"/>
            <button type="submit" class="btn btn_primary" onclick="confirmOrder(event)">장바구니</button>
        </form>
    </div>
    <div class="item_detail_banner">
        <img src="../../static/img/product/explanation/11376a38a70dccafb16df553bc07afd3_68678.jpg" th:src="@{/img/product/explanation/11376a38a70dccafb16df553bc07afd3_68678.jpg}"alt=""/>
        <img src="../../static/img/product/explanation/a9cd158c8073fc64f1dcfcb31360db4a_53228.jpg"th:src="@{/img/product/explanation/a9cd158c8073fc64f1dcfcb31360db4a_53228.jpg}" alt=""/>
    </div>
    <div class="item_detail_nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">상품상세정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">배송안내</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">교환 및 반품안내</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">상품후기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Q&A</a>
            </li>
        </ul>
    </div>
    <div class="item_detail_img">
        <img th:if="${product.img_exp1 != null}" th:src="@{${'/'+product.img_exp1}}" />
        <img th:if="${product.img_exp2 != null}" th:src="@{${'/'+product.img_exp2}}" />
        <img th:if="${product.img_exp3 != null}" th:src="@{${'/'+product.img_exp3}}" />
    </div>
    <div class="delivery_info">
        <h4>배송안내</h4>
        <ul>
            <li>- 배송비 : 기본배송료는 3,000원 입니다. (도서,산간,오지 일부지역은 배송비가 추가될 수 있습니다.) 30,000원 이상 구매시 무료배송입니다.</li>
            <li>- 본 상품의 평균 배송일은 0일 입니다.(입금 확인 후) 설치 상품의 경우 다소 늦어질수 있습니다.</li>
            <li>- 배송예정일은 주문시점(주문순서)에 따른 유동성이 발생하므로 평균 배송일과는 차이가 발생할 수 있습니다.</li>
            <li>- 본 상품의 배송 가능일은 0일 입니다. 배송 가능일이란 본 상품을 주문 하신 고객님들께 상품 배송이 가능한 기간을 의미합니다.</li>
            <li>- 단, 연휴 및 공휴일은 기간 계산시 제외하면 현금 주문일 경우 입금일 기준입니다.</li>
        </ul>
    </div>
    <div class="exchange_info">
        <h4>교환 및 반품안내</h4>
        <ul>
            <li>
                <h5>01.</h5>
                <h6>상품의 파손 및 하자, 변질 등 문제가 있는 경우</h6>
                <p>- 성함, 연락처, 상품의 사진과 함께 원샷 고객센터로 문의 부탁드립니다.</p>
            </li>
            <li>
                <h5>02.</h5>
                <h6>수령하신 상품의 불량, 파손, 오배송의 경우</h6>
                <p>- 교환/반품이 가능하며 배송비는 판매자가 부담합니다.</p>
            </li>
            <li>
                <h5>03.</h5>
                <h6>교환 / 반품 / 환불이 제한되는 경우</h6>
                <p>- 배송완료 후 7일이 지나 자동으로 수령확인 처리가 되거나,</p>
                <p>상품을 확인하고 직접 수령확인하신 이후</p>
                <h6 class="exchange_info_importance">&#8251; 식품 특성상, 아래와 같은 경우 교환/반품/환불이 제한될 수 있습니다.</h6>
                <ul>
                    <li>- 제품이 개봉되었거나 포장이 훼손된 경우</li>
                    <p>(단, 상품의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외)</p>
                    <li>- 사전 연락없이 임의 반송된 경우</li>
                    <li>- 주소의 오기재, 잘못된 주문, 주소 불명, 수취인 부재의 경우</li>
                    <li>- 단순 변심에 의한 경우</li>
                    <li>- 잘못된 방법으로 보관하거나 고객님의 부주의로 인한 오염, 파손, 변질된 제품</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <div class="item_review">
            <h3>상품후기</h3>
            <form id="review_form">
                <label for="satisfaction">만족도:</label>
                <select id="satisfaction">
                    <option value="very-satisfied">아주 만족</option>
                    <option value="satisfied">만족</option>
                    <option value="neutral">보통</option>
                    <option value="dissatisfied">불만족</option>
                    <option value="very-dissatisfied">매우 불만족</option>
                </select>
                <label for="review_content">리뷰 내용:</label><br>
                <textarea id="review_content" rows="5" placeholder="상품리뷰 내용을 적어주세요!!"></textarea>

                <div class="item_review_submit">
                    <label for="file_upload">
                        <img src="../img/camera.png" alt="카메라 아이콘" width="60" height="60">
                    </label>
                    <input id="file_upload" type="file" accept="image/*" multiple onchange="previewImages(event)">
                    <div class="item_review_preview_img">
                        <img src="../../static/img/product/thumbnail/1000000319_detail_025.jpg" width="60px" height="60px"/>
                        <img src="../../static/img/product/thumbnail/1000000319_detail_025.jpg" width="60px" height="60px"/>
                        <img src="../../static/img/product/thumbnail/1000000319_detail_025.jpg" width="60px" height="60px"/>
                    </div>
                    <button id="submit_button" type="button" onclick="submitReview()">리뷰 등록</button>
                </div>
            </form>
            <div id="review_summary">
                <div class="review_summary_first">
                    <img src="../../static/img/product/thumbnail/1000000319_detail_025.jpg" alt="사용자 등록 이미지" width="160"
                         height="180">
                    <h4>홍길동</h4>
                    <div class="review_summary_star">
                        <img src="../../static/img/star.png" alt="노란별" width="25px" height="25px">
                        <img src="../../static/img/star.png" alt="노란별" width="25px" height="25px">
                        <img src="../../static/img/star.png" alt="노란별" width="25px" height="25px">
                        <img src="../../static/img/star.png" alt="노란별" width="25px" height="25px">
                        <img src="../../static/img/star (1).png" alt="빈별" width="25px" height="25px">
                    </div>
                    <div class="review_summary_date">
                        <p>상품 구입 날짜 2023.05.31</p>
                    </div>
                    <div class="review_summary_content">
                        <p>구매리뷰내용피가 아니더면 인간이 얼마나 쓸쓸하랴? 얼음에 싸인 만물은 얼음이 있을 뿐이다
                            그들에게 생명을 불어 넣는 것은 따뜻한 봄바람이다 풀밭에 속잎나고 가지에 싹이 트고 꽃 피고 새
                            우는 봄날의 천지는 얼마나 기쁘며 얼마나..........</p>
                    </div>
                </div>
                <div class="review_summary_second">
                    <img src="../../static/img/product/thumbnail/1000000319_detail_025.jpg" alt="사용자 등록 이미지" width="160"
                         height="180">
                    <h4>홍길동</h4>
                    <div class="review_summary_star">
                        <img src="../../static/img/star.png" alt="노란별" width="25px" height="25px">
                        <img src="../../static/img/star.png" alt="노란별" width="25px" height="25px">
                        <img src="../../static/img/star.png" alt="노란별" width="25px" height="25px">
                        <img src="../../static/img/star (1).png" alt="빈별" width="25px" height="25px">
                        <img src="../../static/img/star (1).png" alt="빈별" width="25px" height="25px">
                    </div>
                    <div class="review_summary_date">
                        <p>상품 구입 날짜 2023.05.30</p>
                    </div>
                    <div class="review_summary_content">
                        <p>구매리뷰내용피가 아니더면 인간이 얼마나 쓸쓸하랴? 얼음에 싸인 만물은 얼음이 있을 뿐이다
                            그들에게 생명을 불어 넣는 것은 따뜻한 봄바람이다 풀밭에 속잎나고 가지에 싹이 트고 꽃 피고 새
                            우는 봄날의 천지는 얼마나 기쁘며 얼마나............</p>
                    </div>
                </div>
            </div>
            <div class="review-pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="item_inquiry">
        <h5>Q&A</h5>
        <div>
            <form th:action="@{/inquiry/add}" method="post" id="inquiry_form">
                <label for="product_id" class="blind">상품 번호</label>
                <input id="product_id" name="product_id" th:value="${product.id}" class="blind">
                <div class="row">
                <label for="type" class="col-2">문의종류</label>
                <select class="satisfaction form-control col" id="type" name="type" required>
                    <option value="P">상품문의</option>
                    <option value="D">배송문의</option>
                </select>
                </div>
                <div class="row">
                    <label for="title" class="col-2">문의 제목</label>
                    <input id="title" name="title" placeholder="제목을 입력해주세요" class="form-control col" required>
                </div>
                <div >
                    <label for="content" class="row content">문의 내용</label>
                    <textarea class="form-control" cols="30" rows="10" id="content" name="content" required></textarea>
                </div>
                <div class="row position-relative">
                    <button class="btn inquiry_button position-absolute" type="submit">문의 등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- item-detail 종료 -->
<!-- footer : START -->
<footer th:replace="~{/fragment/twoDepthFooter :: #footer}"></footer>
<!-- footer : END -->
<script>
    function confirmOrder(event) {
        event.preventDefault(); // 폼의 기본 동작인 제출을 막습니다.

        // 주문하기 버튼을 클릭하면 알림창이 표시됩니다.
        if (confirm('상품을 주문하시겠습니까?')) {
            // 확인 버튼을 누르면 '상품이 장바구니에 담겼습니다' 알림창이 표시됩니다.
            alert('상품이 장바구니에 담겼습니다.');
            document.getElementById('orderForm').submit(); // 폼을 제출하여 주문 처리를 진행합니다.
        }
    }
</script>
<script src="/js/header.js"></script>
</body>

</html>