<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>가격별 전통주</title>
  <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main_style.css" />
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <!-- header : START -->
  <header>
    <div class="center">
      <div>
        <h1>
          <a href="/"><img src="/img/oneshot_logo.png" alt="원샷-우리술 한잔" />우리술
            한 잔,</a>
        </h1>
        <form role="search" class="main_search">
          <div class="row">
            <input type="search" name="keyword" placeholder="상품명을 입력하세요." class="col form-control"
              aria-label="Search" />
            <button type="submit" class="col-1">
              <img src="/img/search.png" alt="검색" />
            </button>
          </div>
        </form>
        <div class="util main">
          <a href="login.html">로그인</a>|
          <a href="join.html">회원가입</a>
          <a href="cart.html"><img src="/img/cart.png" alt="장바구니" /></a>
        </div>
        <div class="util mypage" style="display:none">
          <div>홍길동님</div>|
          <a href="#">로그아웃</a>
          <a href="cart.html"><img src="/img/cart.png" alt="장바구니" /></a>
          <a href="mypage.html"><img src="/img/util_user.png" alt="마이페이지" /></a>
        </div>
      </div>
    </div>
    <nav class="gnb">
      <div class="gnbbar"></div>
      <ul class="center">
        <li><a href="">전통주 이야기</a></li>
        <li>
          <a href="local_total.html">지역별 전통주</a>
          <ul>
            <li><a href="local_total.html">전체 상품</a></li>
            <li><a href="local_seoul.html">서울, 경기, 인천권</a></li>
            <li><a href="local_kangwon.html">강원, 세종권</a></li>
            <li><a href="local_choongbook.html">충북, 충남, 제주도</a></li>
            <li><a href="local_jeonbook.html">전북, 전남, 경북, 경남</a></li>
          </ul>
        </li>
        <li>
          <a href="type_spirits.html">주종별 전통주</a>
          <ul>
            <li><a href="type_spirits.html">증류주</a></li>
            <li><a href="type_fruitwine.html">과실주</a></li>
            <li><a href="type_ricewine.html">약주 / 청주</a></li>
            <li><a href="type_traditional.html">숙성 전통주</a></li>
            <li><a href="type_etc.html">기타주</a></li>
          </ul>
        </li>
        <li>
          <a href="price_10000.html">가격별 전통주</a>
          <ul>
            <li><a href="price_10000.html">10,000원 이하 제품</a></li>
            <li><a href="price_20000.html">20,000원 이하 제품</a></li>
            <li><a href="price_30000.html">30,000원 이하 제품</a></li>
            <li><a href="price_40000.html">40,000원 이하 제품</a></li>
            <li><a href="price_50000.html">50,000원 이하 제품</a></li>
            <li><a href="price_50000_more.html">50,000원 이상 제품</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!-- header : END -->
  <!-- product_banner : START -->
  <div class="product_banner">
    <p class="center">
      <span>가격별 전통주</span>
      <span>원샷이 엄선한 우리술을 만나보세요!</span>
    </p>
  </div>
  <!-- product_banner : END -->
  <!-- container : START -->
  <section class="product_container">
    <h2 class="title center">가격별 전통주</h2>
    <nav class="product">
      <ul class="price">
        <li class="btn on"><a href="price_10000.html">10,000원이하</a></li>
        <li class="btn"><a href="price_20000.html">20,000원이하</a></li>
        <li class="btn"><a href="price_30000.html">30,000원이하</a></li>
        <li class="btn"><a href="price_40000.html">40,000원이하</a></li>
        <li class="btn"><a href="price_50000.html">50,000원이하</a></li>
        <li class="btn"><a href="price_50000_more.html">50,000원이상</a></li>
      </ul>
    </nav>
    <ul class="product_list center">
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item_cont">
          <div class="item_photo_box">
            <a href=""><img src="/img/dummy_item/1000000898_main_081.jpg" alt=""></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="">
                <span class="item_title">배상면주가 산사춘 12도 375ml</span>
              </a>
            </div>
            <div class="item_price_box">
              <span>4,300원</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="d-flex justify-content-center py-5">
      <nav aria-label="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span>&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- container : END -->
  <!-- footer : START -->
  <footer>
    <div class="center">
      <div class="left_wrap">
        <p class="btm_logo"><img src="/img/oneshot_logo_bw.png" alt="원샷 - 우리술 한잔,"></p>
        <div class="text_wrap">
          <p>원샷 - 우리술 한잔,</p>
          <address>서울시 서대문구 연세로 8-1</address>
          <nav>
            <ul>
              <li><a href="">전통주 이야기</a></li>
              <li><a href="">지역별 전통주</a></li>
              <li><a href="">주종별 전통주</a></li>
              <li><a href="">가격별 전통주</a></li>
            </ul>
          </nav>
          <div class="info">
            <p>대표 : 홍길동</p>
            <p>사업자 등록번호 : 100-11-111111</p>
            <p>개인정보관리자 : 홍길동</p>
          </div>
          <div class="contact_info">
            <p>대표번호 : 02-1234-1234</p>
            <p>메일 : oneshot@oneshot.com</p>
          </div>
          <div>Copyrights&copy; oneshot All Rights Reserved.</div>
        </div>
      </div>
      <div class="cs">
        <dl>
          <dt>CS CENTER</dt>
          <dd>070-1234-1234</dd>
          <dd>평일 : 09:00 ~ 18:00<br>
            점심 시간 : 12:00 ~ 13:00<br>
            주말 밋 공휴일 제외
          </dd>
        </dl>
      </div>
      <div class="social">
        <h4>SOCIAL MEDIA</h4>
        <p>Follow @oneshot</p>
        <ul>
          <li><a href="#"><img src="/img/instagram_footer.svg" alt="인스타그램"></a></li>
          <li><a href="#"><img src="/img/youtube_footer.svg" alt="유투브"></a></li>
          <li><a href="#"><img src="/img/facebook_footer.svg" alt="페이스북"></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- footer : END -->
  <script src="/js/header.js"></script>

</body>

</html>