<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>가격별 전통주</title>
  <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main_style.css" />
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <div id="up" onclick="scrollToTop()"><span class="blind">스크롤 올리기</span></div>
  <!-- header : START -->
  <header th:replace="~{fragment/defaultHeader :: #header}"></header>
  <!-- header : END -->
  <!-- product_banner : START -->
  <div class="product_banner">
    <p class="center">
      <span>가격별 전통주</span>
      <span>원샷이 엄선한 우리술을 만나보세요!</span>
    </p>
  </div>
  <!-- product_banner : END -->
  <!-- container : START -->
  <section class="product_container">
    <h2 class="title center">가격별 전통주</h2>
    <nav class="product">
      <ul class="price">
        <li class="btn" th:class="${price == 'u10'}? 'btn on' : 'btn'"><a href="price.html" th:href="@{/price/u10}">10,000원이하</a></li>
        <li class="btn" th:class="${price == 'u20'}? 'btn on' : 'btn'"><a href="price_20000.html" th:href="@{/price/u20}">20,000원이하</a></li>
        <li class="btn" th:class="${price == 'u30'}? 'btn on' : 'btn'"><a href="price_30000.html" th:href="@{/price/u30}">30,000원이하</a></li>
        <li class="btn" th:class="${price == 'u40'}? 'btn on' : 'btn'"><a href="price_40000.html" th:href="@{/price/u40}">40,000원이하</a></li>
        <li class="btn" th:class="${price == 'u50'}? 'btn on' : 'btn'"><a href="price_50000.html" th:href="@{/price/u50}">50,000원이하</a></li>
        <li class="btn" th:class="${price == 'o50'}? 'btn on' : 'btn'"><a href="price_50000_more.html" th:href="@{/price/o50}">50,000원이상</a></li>
      </ul>
    </nav>
    <ul class="product_list center" >
      <li th:each="product: ${products}">
        <div class="item_cont" >
          <div class="item_photo_box" >
            <a href="item_detail.html" th:href="@{/product/item-detail/{id}(id=${product.id})}" class="position-relative">
              <img th:alt="${product.name}" th:src="@{${'/'+product.img_thumb}}">
              <img th:if="${product.status == 'F'}" alt="품절" src="/img/soldout.png" class="soldout position-absolute">
            </a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="item_detail.html" th:href="@{/product/item-detail/{id}(id=${product.id})}">
                <span class="item_title" th:text="${product.name}" ></span>
              </a>
            </div>
            <div class="item_price_box">
              <span th:text="${product.price+'원'}"></span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="d-flex justify-content-center py-5">
      <nav aria-label="pagination">
        <ul class="pagination">
          <li th:if="${pagination.existPreviousLastPage}" class="page-item">
            <a class="page-link"
               th:onclick="updateList([[${pagination.previousLastPage}]])"
               aria-label="Previous">
              <span>&laquo;</span>
            </a>
          </li>
          <li th:each="page : ${#numbers.sequence(pagination.firstPage,pagination.lastPage)}" class="page-item">
            <a class="page-link"
               th:class="${page == pagination.requestPage}? 'page-link active': 'page-link'"
               th:onclick="updateList([[${page}]])"
               th:text="${page}">1</a>
          </li>
          <li th:if="${pagination.existNextFirstPage}" class="page-item">
            <a class="page-link"
               th:onclick="updateList([[${pagination.nextFirstPage}]])"
               aria-label="Next">
              <span>&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- container : END -->
  <!-- footer : START -->
  <footer th:replace="~{fragment/footer :: #footer}"></footer>
  <!-- footer : END -->
  <script src="/js/header.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script>
    var url = '/price/'+ '[[${price}]]';
    function updateList(page) {
        $.ajax({
          type: 'POST',
          data: {page: page},
          url: url,
        })
        .done(function (result) {
          $('section').replaceWith(result);
        });
    }
  </script>
</body>

</html>