<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>상품 등록</title>
    <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
</head>

<body>
<!-- header : START -->
<header>
    <div class="center">
        <div>
            <h1>
                <a href="/"><img src="/img/oneshot_logo.png" alt="원샷-우리술 한잔"/>우리술
                    한 잔,</a>
            </h1>
            <form role="search" class="main_search">
                <div class="row">
                    <input type="search" name="keyword" placeholder="상품명을 입력하세요." class="col form-control"
                           aria-label="Search"/>
                    <button type="submit" class="col-1">
                        <img src="/img/search.png" alt="검색"/>
                    </button>
                </div>
            </form>
            <div class="util">
                <div>관리자님</div>
                <a href="#">로그아웃</a>
                <a href="mypage.html"><img src="/img/util_user.png" alt="마이페이지"/></a>
            </div>
        </div>
    </div>
    <nav class="gnb">
        <ul class="center">
            <li><a href="/member-list">회원관리</a></li>
            <li><a href="/item-list">상품관리</a></li>
            <li><a href="/inquiry/delivery">고객 문의관리</a></li>
        </ul>
    </nav>
</header>
<!-- header : END -->
<!-- container : START -->
<section id="productEditor" class="center">
    <div>
        <h2 class="text-center">상품 등록</h2>
        <hr>
    </div>
    <form  method="post" enctype="multipart/form-data"
          class="row align-items-end gy-3">
        <div class="col"></div>
        <div id="productEditorLeft" class="col-4 text-center">
            <img id="thumbnailPreview" src="" alt="상품 이미지 미리보기" style="display: none">
            <div>
                <!-- <label for="thumbnail"> 상품 이미지 첨부하기</label> -->
                <input type="file" id="thumbnail" name="thumb" onchange="showThumbnail(this);" required>
                <div class="btn btn_ylw thumbnail_btn" onclick="onClickThumbnailUpload();">상품 이미지 첨부하기</div>
            </div>
        </div>
        <div id="productEditorRight" class="col-4">
            <div class="row">
                <label for="type_local" class="col col_name align-self-center">지역 카테고리</label>
                <select id="type_local" name="type_local" class="col form-select" required>
                    <option selected>지역 카테고리 선택</option>
                    <option value="서울, 경기, 인천권">서울/경기/인천</option>
                    <option value="강원, 세종권">강원/세종</option>
                    <option value="충북, 충남, 제주도">충북/충남/제주</option>
                    <option value="전북, 전남, 경북, 경남도">전북/전남/경북/경남</option>
                </select>
            </div>
            <div class="row">
                <label for="type_kind" class="col col_name align-self-center">주종 카테고리</label>
                <select name="type_kind" id="type_kind" class="col form-select" required>
                    <option selected>주종 카테고리 선택</option>
                    <option value="증류주">증류주</option>
                    <option value="과실주">과실주</option>
                    <option value="약주/청주">약주/청주</option>
                    <option value="숙성 전통주">숙성 전통주</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <div class="row">
                <label for="creator" class="col col_name align-self-center">제조사</label>
                <input id="creator" name="creator" class="col form-control" type="text"
                       placeholder="제조사를 입력하세요" required>
            </div>
            <div class="row">
                <label for="name" class="col col_name align-self-center">상품명</label>
                <input id="name" name="name" class="col form-control" type="text"
                       placeholder="상품명을 입력하세요" required>
            </div>
            <div class="row">
                <label for="price" class="col-6 col_name align-self-center">가격</label>
                <input id="price" name="price" class="col form-control" type="text" placeholder="0" required
                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                <div class="col-1 align-self-center">원</div>
            </div>
            <div class="row">
                <label for="alcohol" class="col-6 col_name align-self-center">도수</label>
                <input id="alcohol" name="alcohol" class="col form-control" type="text" placeholder="0" required
                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                <div class="col-1 align-self-center">도</div>
            </div>
            <label for="quantity" class="blind">수량</label>
            <input id="quantity" type="text" name="quantity" value="1" class="blind">
            <div id="productEditorRightWhiteSpace"></div>
        </div>
        <div class="col"></div>

        <div id="productEditorBottom" class="row">
            <hr>
            <div class="col-2"></div>
            <div class="col-8">
                <label for="exp" class="exp_title">상품 설명</label>
                <input type="file" id="exp" name="exp" multiple onchange="showMultipleExp(this);" required>
                <div class="btn btn_ylw" onclick="onClickExpUpload();">상품 설명 이미지 첨부하기</div>
                <div id="multipleExpPreview">
                    <!--            <img id="expPreview" alt="상품 설명 미리보기">-->
                </div>
                <hr>
                <div class="row justify-content-end">
                    <button type="submit" class="col-2 btn btn_ylw">등록</button>
                    <button type="button" th:onclick="|location.href='@{/item-list}'|" class="col-2 btn btn_default">
                        취소
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </form>

</section>
<!-- container : END -->
<!-- footer : START -->
<footer>
    <div class="center">
        <div class="left_wrap">
            <p class="btm_logo"><img src="/img/oneshot_logo_bw.png" alt="원샷 - 우리술 한잔,"></p>
            <div class="text_wrap">
                <p>원샷 - 우리술 한잔,</p>
                <address>서울시 서대문구 연세로 8-1</address>
                <nav>
                    <ul>
                        <li><a href="">전통주 이야기</a></li>
                        <li><a href="">지역별 전통주</a></li>
                        <li><a href="">주종별 전통주</a></li>
                        <li><a href="">가격별 전통주</a></li>
                    </ul>
                </nav>
                <div class="info">
                    <p>대표 : 홍길동</p>
                    <p>사업자 등록번호 : 100-11-111111</p>
                    <p>개인정보관리자 : 홍길동</p>
                </div>
                <div class="contact_info">
                    <p>대표번호 : 02-1234-1234</p>
                    <p>메일 : oneshot@oneshot.com</p>
                </div>
                <div>Copyrights&copy; oneshot All Rights Reserved.</div>
            </div>
        </div>
        <div class="cs">
            <dl>
                <dt>CS CENTER</dt>
                <dd>070-1234-1234</dd>
                <dd>평일 : 09:00 ~ 18:00<br>
                    점심 시간 : 12:00 ~ 13:00<br>
                    주말 밋 공휴일 제외
                </dd>
            </dl>
        </div>
        <div class="social">
            <h4>SOCIAL MEDIA</h4>
            <p>Follow @oneshot</p>
            <ul>
                <li><a href="#"><img src="/img/instagram_footer.svg" alt="인스타그램"></a></li>
                <li><a href="#"><img src="/img/youtube_footer.svg" alt="유투브"></a></li>
                <li><a href="#"><img src="/img/facebook_footer.svg" alt="페이스북"></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- footer : END -->
<script src="/js/admin_product.js"></script>
</body>

</html>