<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>상품 수정</title>
  <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
<div id="up" onclick="scrollToTop()"><span class="blind">스크롤 올리기</span></div>
  <!-- header : START -->
<header th:replace="~{/fragment/adminHeader :: #header}"></header>
  <!-- header : END -->
  <!-- container : START -->
  <section id="productEditor" class="center">
    <div>
      <h2 class="text-center">상품 수정</h2>
      <hr>
    </div>
    <form class="row align-items-end gy-3" method="post" enctype="multipart/form-data">
      <div class="col"></div>
      <div id="productEditorLeft" class="col-4 text-center">
        <img th:src="@{'/' + ${product.img_thumb}}" id="thumbnailPreview" alt="상품 이미지 미리보기">
        <div>
          <label for="thumbnail" class="blind">상품 이미지 첨부하기</label>
          <input type="file" id="thumbnail" name="thumb" onchange="showThumbnail(this);" class="blind">
          <div class="btn btn_ylw thumbnail-btn" onclick="onClickThumbnailUpload();">상품 이미지 첨부하기</div>
        </div>
      </div>
      <div id="productEditorRight" class="col-4">
        <div class="row">
          <label for="type_local" class="col col_name align-self-center">지역 카테고리</label>
          <select id="type_local" name="type_local" class="col form-select" required>
            <option th:each="local : ${typeLocal}"
            th:value="${local}"
            th:text="${local}"
            th:selected="${local eq product.type_local}"></option>
          </select>
        </div>
        <div class="row">
          <label for="type_kind" class="col col_name align-self-center">주종 카테고리</label>
          <select id="type_kind" name="type_kind" class="col form-select" required>
            <option th:each="kind : ${typeKind}"
            th:value="${kind}"
            th:text="${kind}"
            th:selected="${kind eq product.type_kind}">증류주</option>
          </select>
        </div>
        <div class="row">
          <label for="creator" class="col col_name align-self-center">제조사</label>
          <input class="col form-control" type="text" placeholder="제조사를 입력하세요" id="creator"
                 name="creator" th:value="${product.creator}" required>
        </div>
        <div class="row">
          <label for="name" class="col col_name align-self-center">상품명</label>
          <input class="col form-control" type="text" placeholder="상품명을 입력하세요" id="name"
                 name="name" th:value="${product.name}" required>
        </div>
        <div class="row">
          <label for="alcohol" class="col-6 col_name align-self-center">도수</label>
          <input id="alcohol" name="alcohol" class="col form-control" type="number"
                 oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                 th:value="${product.alcohol}" required>
          <div class="col-1 align-self-center">도</div>
        </div>
        <div class="row">
          <label for="volume" class="col-6 co">용량</label>
          <input id="volume" type="number" name="volume" class="col form-control" required
                 th:value="${product.volume}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <div class="col-1 align-self-center">ml</div>
        </div>
        <div class="row">
          <label for="price" class="col-6 col_name align-self-center">가격</label>
          <input id="price" name="price" class="col form-control" type="number"  th:value="${product.price}" required
                 oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <div class="col-1 align-self-center">원</div>
        </div>
        <div class="row">
          <label for="quantity" class="col-6 co">수량</label>
          <input id="quantity" type="number" name="quantity"  th:value="${product.quantity}" class="col form-control" required
                 oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <div class="col-1 align-self-center">병</div>
        </div>
        <div id="productEditorRightWhiteSpace"></div>
      </div>
      <div class="col"></div>

      <div id="productEditorBottom" class="row">
        <hr>
        <div class="col-2"></div>
        <div class="col-8">
          <label for="exp" class="exp_title">상품 설명</label>
          <input type="file" id="exp" name="exp" multiple onchange="showMultipleExp(this);" class="blind">
          <div class="btn btn_ylw" onclick="onClickExpUpload();">상품 설명 이미지 첨부하기</div>
          <div id="multipleExpPreview">
            <img  th:src="@{'/' + ${product.img_exp1}}"  alt="상품 설명 미리보기" id="exp1" class="exp">
            <img  th:src="@{'/' + ${product.img_exp2}}"  alt="상품 설명 미리보기" id="exp2" th:class="${product.img_exp2} == null ? blind : exp" >
          </div>
          <hr>
          <div class="row justify-content-end">
            <button type="submit" class="col-2 btn btn_ylw">저장</button>
            <button type="button" th:onclick="|location.href='@{/product-list}'|" class="col-2 btn btn_default">취소</button>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </form>

  </section>
  <!-- container : END -->
  <!-- footer : START -->
<footer th:replace="~{/fragment/footer :: #footer}">
</footer>
  <!-- footer : END -->
<script src="/js/admin_product.js"></script>
<script src="/js/header.js"></script>
</body>

</html>