<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>고객 배송 문의 관리</title>
  <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
  <!-- header : START -->
  <header>
    <div class="center">
      <div>
        <h1>
          <a href="/"><img src="/img/oneshot_logo.png" alt="원샷-우리술 한잔" />우리술
            한 잔,</a>
        </h1>
        <form role="search" class="main_search">
          <div class="row">
            <input type="search" name="keyword" placeholder="상품명을 입력하세요." class="col form-control"
              aria-label="Search" />
            <button type="submit" class="col-1">
              <img src="/img/search.png" alt="검색" />
            </button>
          </div>
        </form>
        <div class="util">
          <div>관리자님</div>|
          <a href="#">로그아웃</a>
          <a href="mypage.html"><img src="/img/util_user.png" alt="마이페이지" /></a>
        </div>
      </div>
    </div>
    <nav class="gnb">
      <ul class="center">
        <li><a href="/member_list">회원관리</a></li>
        <li><a href="/item-list">상품관리</a></li>
        <li><a href="/inquiry/delivery">고객 문의관리</a></li>
      </ul>
    </nav>
  </header>
  <!-- header : END -->
  <!-- container : START -->
  <section class="center">
    <div>
      <div class="admin_table_name justify-content-center">
        <div class="row"></div>
        <div class="row">
          <h2 class="col align-self-center text-center">고객 문의 관리</h2>
        </div>
        <div class="row">
          <div class="col position-relative"><a class="position-absolute top-50 start-50 translate-middle-x selected"
              href="/inquiry/delivery">배송 문의 내역</a></div>
          <div class="col position-relative"><a class="position-absolute top-50 start-50 translate-middle-x" href="/inquiry/product">상품
              문의 내역</a></div>
        </div>
      </div>
      <table class="table text-center admin_table">
        <thead>
          <tr>
            <th>문의번호</th>
            <th>문의 상품번호</th>
            <th>문의 회원번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>문의일</th>
            <th>답변일</th>
            <th>답변내용</th>
            <th>답변하기</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>11</td>
          <td>2</td>
          <td>안동 소주 관련...</td>
          <td><button class="btn btn_ylw"> 보기 </button></td>
          <td>2023-05-31</td>
          <td>2023-06-01.</td>
          <td><button class="btn btn_ylw"> 보기 </button></td>
          <td><button class="btn btn_ylw"> 등록 </button></td>
        </tr>
        <tr>
          <td>1</td>
          <td>11</td>
          <td>2</td>
          <td>안동 소주 관련...</td>
          <td><button class="btn btn_ylw"> 보기 </button></td>
          <td>2023-05-31</td>
          <td>2023-06-01.</td>
          <td><button class="btn btn_ylw"> 보기 </button></td>
          <td><button class="btn btn_ylw"> 등록 </button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center py-5">
      <nav aria-label="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span>&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- container : END -->
  <!-- footer : START -->
  <footer>
    <div class="center">
      <div class="left_wrap">
        <p class="btm_logo"><img src="/img/oneshot_logo_bw.png" alt="원샷 - 우리술 한잔,"></p>
        <div class="text_wrap">
          <p>원샷 - 우리술 한잔,</p>
          <address>서울시 서대문구 연세로 8-1</address>
          <nav>
            <ul>
              <li><a href="">전통주 이야기</a></li>
              <li><a href="">지역별 전통주</a></li>
              <li><a href="">주종별 전통주</a></li>
              <li><a href="">가격별 전통주</a></li>
            </ul>
          </nav>
          <div class="info">
            <p>대표 : 홍길동</p>
            <p>사업자 등록번호 : 100-11-111111</p>
            <p>개인정보관리자 : 홍길동</p>
          </div>
          <div class="contact_info">
            <p>대표번호 : 02-1234-1234</p>
            <p>메일 : oneshot@oneshot.com</p>
          </div>
          <div>Copyrights&copy; oneshot All Rights Reserved.</div>
        </div>
      </div>
      <div class="cs">
        <dl>
          <dt>CS CENTER</dt>
          <dd>070-1234-1234</dd>
          <dd>평일 : 09:00 ~ 18:00<br>
            점심 시간 : 12:00 ~ 13:00<br>
            주말 밋 공휴일 제외
          </dd>
        </dl>
      </div>
      <div class="social">
        <h4>SOCIAL MEDIA</h4>
        <p>Follow @oneshot</p>
        <ul>
          <li><a href="#"><img src="/img/instagram_footer.svg" alt="인스타그램"></a></li>
          <li><a href="#"><img src="/img/youtube_footer.svg" alt="유투브"></a></li>
          <li><a href="#"><img src="/img/facebook_footer.svg" alt="페이스북"></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- footer : END -->
</body>

</html>