<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원 관리</title>
  <link rel="icon" href="img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/admin.css" />
</head>

<body>
  <!-- header : START -->
  <header>
    <div class="center">
      <div>
        <h1>
          <a href="/"><img src="img/oneshot_logo.png" alt="원샷-우리술 한잔" />우리술
            한 잔,</a>
        </h1>
        <form role="search" class="main_search">
          <div class="row">
            <input type="search" name="keyword" placeholder="상품명을 입력하세요." class="col form-control"
              aria-label="Search" />
            <button type="submit" class="col-1">
              <img src="img/search.png" alt="검색" />
            </button>
          </div>
        </form>
        <div class="util">
          <div>관리자님</div>|
          <a href="#">로그아웃</a>
          <a href="mypage.html"><img src="img/user.png" alt="마이페이지" /></a>
        </div>
      </div>
    </div>
    <nav class="gnb">
      <ul class="center">
        <li><a href="">회원관리</a></li>
        <li><a href="">상품관리</a></li>
        <li><a href="">고객 문의관리</a></li>
      </ul>
    </nav>
  </header>
  <!-- header : END -->
  <!-- mainbanner : START -->
  <!-- mainbanner : END -->
  <!-- container : START -->
  <section class="center">
    <div>
      <div class="admin-table-name justify-content-center">
        <div class="row"></div>
        <div class="row">
          <h2 class="col align-self-center text-center">회원 관리</h2>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
      <table class="table text-center admin-table">
        <thead>
          <tr>
            <th>회원 번호</th>
            <th>회원 ID</th>
            <th>이름</th>
            <th>전화 번호</th>
            <th>이메일</th>
            <th>회원 상태</th>
            <th>회원 권한 관리</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>ID1</td>
            <td>홍길동</td>
            <td>010-1111-1111</td>
            <td>hong@example.com</td>
            <td>일반 회원</td>
            <td><button class="btn btn-ylw"> 차단 </button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>ID2</td>
            <td>박보검</td>
            <th>010-2222-2222</th>
            <td>park@example.com</td>
            <td>일반 회원</td>
            <td><button class="btn btn-ylw"> 차단 </button></td>
          </tr>
          <tr>
            <td>3</td>
            <td>ID3</td>
            <td>이미자</td>
            <td>010-3333-3333</td>
            <td>lee@example.com</td>
            <td>차단 회원</td>
            <td><button class="btn btn-default"> 해제 </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center py-5">
      <nav aria-label="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span>&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- container : END -->
  <!-- footer : START -->
  <footer>
    <div class="center">
      <div class="left_wrap">
        <p class="btm_logo"><img src="img/oneshot_logo_bw.png" alt="원샷 - 우리술 한잔,">
        <div class="text_wrap">
          <p>원샷 - 우리술 한잔,</p>
          <address>서울시 서대문구 연세로 8-1</address>
          <nav>
            <ul>
              <li><a href="">전통주 이야기</a></li>
              <li><a href="">지역별 전통주</a></li>
              <li><a href="">주종별 전통주</a></li>
              <li><a href="">가격별 전통주</a></li>
            </ul>
          </nav>
          <div class="info">
            <p>대표 : 홍길동</p>
            <p>사업자 등록번호 : 100-11-111111</p>
            <p>개인정보관리자 : 홍길동</p>
          </div>
          <div class="contact_info">
            <p>대표번호 : 02-1234-1234</p>
            <p>메일 : oneshot@oneshot.com</p>
          </div>
          <div>Copyrights&copy; oneshot All Rights Reserved.</div>
        </div>
      </div>
      <div class="cs">
        <dl>
          <dt>CS CENTER</dt>
          <dd>070-1234-1234</dd>
          <dd>평일 : 09:00 ~ 18:00<br>
            점심 시간 : 12:00 ~ 13:00<br>
            주말 밋 공휴일 제외
          </dd>
        </dl>
      </div>
      <div class="social">
        <h4>SOCIAL MEDIA</h4>
        <p>Follow @oneshot</p>
        <ul>
          <li><a href="#"><img src="img/instagram_footer.svg" alt="인스타그램"></a></li>
          <li><a href="#"><img src="img/youtube_footer.svg" alt="유투브"></a></li>
          <li><a href="#"><img src="img/facebook_footer.svg" alt="페이스북"></a></li>
        </ul>
      </div>
      </p>
    </div>
  </footer>
  <!-- footer : END -->
  <script>
    const gnbbar = document.querySelector(".gnbbar")
    const gnbmenu = document.querySelectorAll("nav.gnb>ul>li")
    gnbmenu.forEach((v, index) => {
      if (index !== 0) {
        v.addEventListener("mouseover", (e) => {
          gnbbar.style.display = "block";
        });

        v.addEventListener("mouseout", (e) => {
          gnbbar.style.display = "none";
        });
      }
    });
  </script>
</body>

</html>