<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>장바구니</title>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <link rel="icon" href="../img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/main_style.css" />
  <link rel="stylesheet" href="../css/item_cart.css">
</head>

<body>
  <!-- Header 시작 -->
  <header>
    <div class="center">
      <div>
        <h1>
          <a href="/"><img src="../img/oneshot_logo.png" alt="원샷-우리술 한잔" />우리술
            한 잔,</a>
        </h1>
        <form role="search" class="main_search">
          <div class="row">
            <input type="search" name="keyword" placeholder="상품명을 입력하세요." class="col form-control"
              aria-label="Search" />
            <button type="submit" class="col-1">
              <img src="../img/search.png" alt="검색" />
            </button>
          </div>
        </form>
        <div class="util main">
          <a href="login.html">로그인</a>|
          <a href="join.html">회원가입</a>
          <a href="cart.html"><img src="../img/cart.png" alt="장바구니" /></a>
        </div>
        <div class="util mypage" style="display:none">
          <div>홍길동님</div>|
          <a href="#">로그아웃</a>
          <a href="cart.html"><img src="../img/cart.png" alt="장바구니" /></a>
          <a href="mypage.html"><img src="../img/user.png" alt="마이페이지" /></a>
        </div>
      </div>
    </div>
    <nav class="gnb">
      <div class="gnbbar"></div>
      <ul class="center">
        <li><a href="">전통주 이야기</a></li>
        <li>
          <a href="">지역별 전통주</a>
          <ul>
            <li><a href="">전체 상품</a></li>
            <li><a href="">서울, 경기, 인천권</a></li>
            <li><a href="">강원, 세종권</a></li>
            <li><a href="">충북, 충남, 제주도</a></li>
            <li><a href="">전북, 전남, 경북, 경남</a></li>
          </ul>
        </li>
        <li>
          <a href="">주종별 전통주</a>
          <!-- <div class="gnbbar"></div> -->
          <ul>
            <li><a href="">증류주</a></li>
            <li><a href="">과실주</a></li>
            <li><a href="">약주 / 청주</a></li>
            <li><a href="">숙성 전통주</a></li>
            <li><a href="">기타주</a></li>
          </ul>
        </li>
        <li>
          <a href="">가격별 전통주</a>
          <!-- <div class="gnbbar"></div> -->
          <ul>
            <li><a href="">10,000원 이하 제품</a></li>
            <li><a href="">20,000원 이하 제품</a></li>
            <li><a href="">30,000원 이하 제품</a></li>
            <li><a href="">40,000원 이하 제품</a></li>
            <li><a href="">50,000원 이하 제품</a></li>
            <li><a href="">50,000원 이상 제품</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!-- header 종료 -->
  <!-- 장바구니 시작 -->
  <div class="item_cart_container">
    <h1>장바구니</h1>
    <div class="item_cart_table">
      <table>
        <thead>
          <tr>
            <th class="cart_thead_img">이미지</th>
            <th class="cart_thead_info">상품정보</th>
            <th class="cart_thead_price">판매가</th>
            <th class="cart_thead_quantity">수량</th>
            <th class="cart_thead_btn">선택</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cart_tbody_img"><img src="../img/product/thumbnail/1000000319_detail_025.jpg" alt="" width="200px" height="200px"></td>
            <td class="cart_tbody_info">아리랑주조 겨울소주 45도 375ml 증류식소주</td>
            <td class="cart_tbody_price">26,000원</td>
            <td class="cart_tbody_quantity">
              <button class="quantity_sub_btn">-</button>
              <input type="text" value="0" readonly="readonly"/>
              <button class="quantity_add_btn">+</button>
            </td>
            <td class="cart_tbody_btn">
              <button>삭제</button>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="cart_tbody_img"><img src="../img/product/thumbnail/1000000319_detail_025.jpg" alt="" width="200px" height="200px"></td>
            <td class="cart_tbody_info">아리랑주조 겨울소주 45도 375ml 증류식소주</td>
            <td class="cart_tbody_price">26,000원</td>
            <td class="cart_tbody_quantity">
              <button class="quantity_sub_btn">-</button>
              <input type="text" value="0" readonly="readonly"/>
              <button class="quantity_add_btn">+</button>
            </td>
            <td class="cart_tbody_btn">
              <button>삭제</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="item_cart_delivery">
      <p>배송비</p>
      <p>3000원</p>
    </div>
    <div class="item_cart_total_price">
      <h3>총 결제금액</h3>
      <p>81,0000원</p>
    </div>
    <div class="item_cart_btn">
      <div class="item_cart_cancle_btn">  
        <button id="item_cart_cancle_btn" type="reset">취소</button>
      </div>
      <div class="item_cart_order_btn">
        <button id="item_cart_order_btn" type="submit">주문하기</button>
      </div>
    </div>
  </div>
  <!-- 장바구니 종료 -->
  <!-- footer : START -->
  <footer>
    <div class="center">
      <div class="left_wrap">
        <p class="btm_logo"><img src="../img/oneshot_logo_bw.png" alt="원샷 - 우리술 한잔,"></p>
        <div class="text_wrap">
          <p>원샷 - 우리술 한잔,</p>
          <address>서울시 서대문구 연세로 8-1</address>
          <nav>
            <ul>
              <li><a href="">전통주 이야기</a></li>
              <li><a href="">지역별 전통주</a></li>
              <li><a href="">주종별 전통주</a></li>
              <li><a href="">가격별 전통주</a></li>
            </ul>
          </nav>
          <div class="info">
            <p>대표 : 홍길동</p>
            <p>사업자 등록번호 : 100-11-111111</p>
            <p>개인정보관리자 : 홍길동</p>
          </div>
          <div class="contact_info">
            <p>대표번호 : 02-1234-1234</p>
            <p>메일 : oneshot@oneshot.com</p>
          </div>
          <div>Copyrights&copy; oneshot All Rights Reserved.</div>
        </div>
      </div>
      <div class="cs">
        <dl>
          <dt>CS CENTER</dt>
          <dd>070-1234-1234</dd>
          <dd>평일 : 09:00 ~ 18:00<br>
            점심 시간 : 12:00 ~ 13:00<br>
            주말 밋 공휴일 제외
          </dd>
        </dl>
      </div>
      <div class="social">
        <h4>SOCIAL MEDIA</h4>
        <p>Follow @oneshot</p>
        <ul>
          <li><a href="#"><img src="../img/instagram_footer.svg" alt="인스타그램"></a></li>
          <li><a href="#"><img src="../img/youtube_footer.svg" alt="유투브"></a></li>
          <li><a href="#"><img src="../img/facebook_footer.svg" alt="페이스북"></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- footer : END -->
  <script>
    const gnbbar = document.querySelector(".gnbbar")
    const gnbmenu = document.querySelectorAll("nav.gnb>ul>li")
    gnbmenu.forEach((v, index) => {
      if (index !== 0) {
        v.addEventListener("mouseover", (e) => {
          gnbbar.style.display = "block";
        });

        v.addEventListener("mouseout", (e) => {
          gnbbar.style.display = "none";
        });
      }
    });
  </script>
</body>

</html>