<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.orf" lang="ko" data-bs-theme="auto">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="icon" href="img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/main_style.css" />
  <link rel="stylesheet" href="../css/login.css" />
  <!-- <script src="js/jquery-3.6.0.min.js"></script> -->
  <script src="https:code.jquery.com/jquery-3.4.1.js"></script>
  <!-- <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script> -->

  <body>
  
  
  <!-- START : container -->
		<div class="container" style="max-width: 600px">
		<div class="py-5 text-center">
		
		
		
		
		<label>1</label><h3 th:text="${name1}"></h3>	
	    <label>2</label><h3 th:text="${login_id1}"></h3>
	    <label>3</label> <h3 th:text="${pw1}"></h3>
	     
	    
	   <label>로그인아디:</label><h3 th:text="${login_id}"></h3>
	   <label>비밀번호:</label><h3 th:text="${pw}"></h3> 	
	   <label>이메일:</label><h3 th:text="${email}"></h3>
	   <label>이름:</label><h3 th:text="${name}"></h3> 		 
	   <label>핸드폰번호:</label><h3 th:text="${phone_number}"></h3>
	   <label>주민번호:</label><h3 th:text="${id_card_number}"></h3> 	
	   <label>주소:</label><h3 th:text="${address}"></h3>
	   <label>성별:</label><h3 th:text="${gender}"></h3> 	 	     
	   
	
 

</body>

</html>