<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="icon" href="img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/main_style.css" />
  <link rel="stylesheet" href="../css/login.css" />
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="https:code.jquery.com/jquery-3.4.1.js"></script>
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
  
/*   		function registerCheckFuntion(){
			var login_id= ${'#login_id'}.val();
		  	$.ajax({
			  type:'Post',
			  url:'./UserRegisterCheckServlet',
		  	  data: {login_id : login_id}
		  		success: funtioin(result){
		  			if(result == 1) {
		  				$('#checkMessage').html('사용할 수 있는 아이디입니다.')
		  				$('#checkType').attr('class', 'model-content panel-success');		  				
		  			}
		  			else {
		  				$('#checkMessage').html('사용할 수 옶는는 아이디입니다.')
		  				$('#checkType').attr('class', 'model-content panel-success');
		  			}
		  			$('#chekModal').modal("show");
		  		}
		  }) 
	} 
	*/
	
	function openIdChk(){
		
		window.name = "parentForm";
		window.open("IdCheckForm.html",
			"chkForm", "width=500, height=300, resizable =no, scrollbars = no");	
		
	}
	
	function inputIdChk(){
		document.userInfo.idDuplication.value="idUncheck";	
		
	}
		
  
	
	  
   	function inputIdchk(){
  		var joinForm = document.joinForm;
  		var dbchekId = document.joinForm.dbCheckId;
  		document.joinForm.idDuplication.value="idUncheck";
  		dbChekId.desabled=false;
  		dbChekId.style.opacity=1;
  		dbChekId.style.cursor="opinter";
  	} 
	
  
   	function fn_joinMember(){
  		
  		var joinForm = document.joinForm;
  		var name = joinForm.name.value;
  		var login_id = joinForm.login_id.value;
  		var pwd = joinForm.pwd.value;
  	} 
  	
    //아이디 체크1
    function fn_dbCheckId(){
 		  var joinForm = document.joinForm;
 		  var login_id = joinForm.login_id.value;
 		  if(login_id.length==0 || login_id==""){
 			  alert("아이디를 입력");
 			  joinForm.login_id.focus();
 		  }else { 
 		  window.open("${contextPath}/member/dbCheckId.do?user_id="+login_id,"","width=500, heigh=300"); 
 		  } 
 }
  
  	</script>
  <style>
	.id_ok{
	color:#008000;
	display: none;
	}
	
	.id_already{
	color:#6A82FB; 
	display: none;
	}
   </style>
   <script>
   

</script>
</head>
<body>
  <!-- header : START -->
  <header>
    <div class="center">
      <div>
        <h1>
          <a href="/"><img src="/img/oneshot_logo.png" alt="원샷-우리술 한잔" />우리술
            한 잔,</a>
        </h1>
        <form role="search" class="main_search">
          <div class="row">
            <input type="search" name="keyword" placeholder="상품명을 입력하세요." class="col form-control"
              aria-label="Search" />
            <button type="submit" class="col-1">
              <img src="/img/search.png" alt="검색" />
            </button>
          </div>
        </form>
        <div class="util main">
          <a href="/login">로그인</a>|
          <a href="/join">회원가입</a>
          <a href="cart.html"><img src="img/cart.png" alt="장바구니" /></a>
        </div>
        <div class="util mypage" style="display:none">
          <div>홍길동님</div>|
          <a href="#">로그아웃</a>
          <a href="cart.html"><img src="img/cart.png" alt="장바구니" /></a>
          <a href="mypage.html"><img src="img/util_user.png" alt="마이페이지" /></a>
        </div>
      </div>
    </div>
    <nav class="gnb">
      <div class="gnbbar"></div>
      <ul class="center">
        <li><a href="">전통주 이야기</a></li>
        <li>
          <a href="">지역별 전통주</a>
          <ul>
            <li><a href="">전체 상품</a></li>
            <li><a href="">서울, 경기, 인천권</a></li>
            <li><a href="">강원, 세종권</a></li>
            <li><a href="">충북, 충남, 제주도</a></li>
            <li><a href="">전북, 전남, 경북, 경남</a></li>
          </ul>
        </li>
        <li>
          <a href="">주종별 전통주</a>
          <ul>
            <li><a href="">증류주</a></li>
            <li><a href="">과실주</a></li>
            <li><a href="">약주 / 청주</a></li>
            <li><a href="">숙성 전통주</a></li>
            <li><a href="">기타주</a></li>
          </ul>
        </li>
        <li>
          <a href="">가격별 전통주</a>
          <ul>
            <li><a href="">10,000원 이하 제품</a></li>
            <li><a href="">20,000원 이하 제품</a></li>
            <li><a href="">30,000원 이하 제품</a></li>
            <li><a href="">40,000원 이하 제품</a></li>
            <li><a href="">50,000원 이하 제품</a></li>
            <li><a href="">50,000원 이상 제품</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!-- header : END -->
  <!-- mainbanner : START -->
  <!-- Swiper -->
  <!-- <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a href="#"></a></div>
      <div class="swiper-slide"><a href="#"></a></div>
      <div class="swiper-slide"><a href="#"></a></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div> -->
  <!-- mainbanner : END -->
  <!-- container : START -->

  <body>
    <div class="main_container_join">
      <section class="bg-light join-section">
        <div class="join-container">
          <div class="row align-items-center justify-content-between">
            <a class="navbar-brand h1 text-center">
              <span class="text-dark h4">회원가입</span>
            </a>
          </div>
          <form action="join" method="post"> 
            <div class="form-group">
              <label class="form-label mt-4 join-agree-label">[필수]원샷 이용약관 <input type="checkbox" /></label>
              <div class="join-agree-box">
                제1조(목적)
                이 약관은 회사(전자상거래 사업자)가 운영하는 사이버 몰(이하 “몰”이라 한다)에서 제공하는 인터넷 관련
                서비스(이하 “서비스”라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리.의무 및 책임사항을 규정함을 목적으로 합니다.
                ※「PC통신, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다.」
                <br/>
              </div>
            </div>
            <div class="form-group">
              <label for="InputId" class="form-label mt-4">아이디</label> &nbsp;<span id="check01"></span>
              <div class="input-img-group">
                <span><img src="../img/join/name.png" alt=""></span>
                <input type="text" id="login_id" name="login_id" maxlength="50" onkeydown="inputIdChk()"/>  
                <input type="button"  value="중복확인" onclick="openIdChk()" >
                <input type="hidden" name="idDuplication" value="idUncheck"/>
                <!-- <input type="text" class="form-control" id="login_id" name="login_id" onchange="checkId()"> -->
                <!-- <input type="text" class="form-control" id="login_id" name="login_id" oninput = "checkId()"> -->
                <!-- <button type="button" onclick="fn_dbCheckId()" name="dbCheckId" class="checkId">중복확인</button> -->
   
              </div>
            </div>
            <div class="form-group">
              <label for="InputPassword" class="form-label mt-4">비밀번호</label>
              <div class="input-img-group">
                <span><img src="../img/join/pw1.png" alt=""></span>
                <input type="password" class="form-control" id="pw" name="pw" onchange="check02_pw()">
              </div>
            </div>
            <div class="form-group">
              <label for="InputPassword2" class="form-label mt-4">비밀번호 재확인</label> &nbsp;<span id="check02"></span>
              <div class="input-img-group">
                <span><img src="../img/join/pw2.png" alt=""></span>
                <input type="password" class="form-control" id="pw2" name="pw2" onchange="check02_pw()">
              </div>
            </div>
      	  <div class="form-group">
	           <label for="InputEmail1" class="form-label mt-4">본인 확인용 이메일</label>
	           <div class="input-img-group">
	             <span><img src="../img/join/email.png" alt=""></span>
	             <input type="email" class="form-control" id="email" name="email">
	            </div>
           </div>        
           <div class="form-group">
             <label for="InputName" class="form-label mt-4">이름</label>
             <div class="input-img-group">
               <span><img src="../img/join/name.png" alt=""></span>
               <input type="text" class="form-control" id="name" name="name">
              </div>
           </div>       
             <div class="form-group">
               <label for="InputNumber" class="form-label mt-4">주민번호</label>
               <div class="input-img-group">
                 <span><img src="../img/join/card.png" alt=""></span>
                 <input type="text" class="form-control" id="id_card_number" name="id_card_number">
                </div>
             </div>        
               <div class="form-group">
                 <label for="InputPhone" class="form-label mt-4">휴대전화번호</label>
                 <div class="input-img-group">
                   <span><img src="../img/join/phone.png" alt=""></span>
                   <input type="text" class="form-control" id="phone_number" name="phone_number" oninput="autoHyphen(this)"  maxlength="13">
                 </div>
               </div>      
               <div class="form-group">
                   <label for="InputAddress" class="form-label mt-4">주소</label>
                   <div class="input-img-group">
                     <span><img src="../img/join/card.png" alt=""></span>
                     <input type="text" class="form-control" id="address" name="address">
                    </div>
               </div>        
               <div class="form-group">
                     <label for="InputGender" class="form-label mt-4">성별</label>
                     <div class="input-img-group">
                       <span><img src="../img/join/gender.png" alt=""></span>
                       <select class="form-select" id="gender" name="gender" >
                         <option value="M">남자</option>
                         <option value="F">여자</option>
                       </select>
                    </div>
               </div>
               <div class="btn-group">
                   <button class="btn btn-primary btn-lg" type="reset">취소</button>
                   <button class="btn btn-primary btn-lg" type="submit">가입하기</button>
                </div>
             </form>
            </div>
      </section>
     </div>
  </body>
  <!-- <div class="btm_banner_wrap">
      <div class="btm_banner">
        <p>원샷과 함께<br>우리술을 즐겨보세요.</p>
      </div>
    </div> -->

  <!-- footer : START -->
  <footer>
    <div class="center">
      <div class="left_wrap">
        <p class="btm_logo"><img src="img/oneshot_logo_bw.png" alt="원샷 - 우리술 한잔,"></p>
        <div class="text_wrap">
          <p>원샷 - 우리술 한잔,</p>
          <address>서울시 서대문구 연세로 8-1</address>
          <nav>
            <ul>
              <li><a href="">전통주 이야기</a></li>
              <li><a href="">지역별 전통주</a></li>
              <li><a href="">주종별 전통주</a></li>
              <li><a href="">가격별 전통주</a></li>
            </ul>
          </nav>
          <div class="info">
            <p>대표 : 홍길동</p>
            <p>사업자 등록번호 : 100-11-111111</p>
            <p>개인정보관리자 : 홍길동</p>
          </div>
          <div class="contact_info">
            <p>대표번호 : 02-1234-1234</p>
            <p>메일 : oneshot@oneshot.com</p>
          </div>
          <div>Copyrights&copy; oneshot All Rights Reserved.</div>
        </div>
      </div>
      <div class="cs">
        <dl>
          <dt>CS CENTER</dt>
          <dd>070-1234-1234</dd>
          <dd>평일 : 09:00 ~ 18:00<br>
            점심 시간 : 12:00 ~ 13:00<br>
            주말 밋 공휴일 제외
          </dd>
        </dl>
      </div>
      <div class="social">
        <h4>SOCIAL MEDIA</h4>
        <p>Follow @oneshot</p>
        <ul>
          <li><a href="#"><img src="img/instagram_footer.svg" alt="인스타그램"></a></li>
          <li><a href="#"><img src="img/youtube_footer.svg" alt="유투브"></a></li>
          <li><a href="#"><img src="img/facebook_footer.svg" alt="페이스북"></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- footer : END -->
  <script>
  
  

  //아이디 체크2
         function check01_id(){
            var login_id = document.getElementById('login_id').value;
            var SC = ["!","@","#","$","%"];
            var check01_SC = 0;
 
            if(login_id.length < 6 || login_id.length>16){
                window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
                document.getElementById('pw').value='';
            }
            for(var i=0;i<SC.length;i++){
                if(login_id.indexOf(SC[i]) != -1){
                	check01_SC = 1;
                }
            }
            if(check01_SC == 0){
                window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
                document.getElementById('pw').value='';
            }
            if(document.getElementById('login_id').value !='' && document.getElementById('pw').value!=''){
                if(document.getElementById('login_id').value==document.getElementById('pw').value){
                    document.getElementById('check01').innerHTML='사용가능'
                    document.getElementById('check01').style.color='blue';
                }
                else{
                    document.getElementById('check01').innerHTML='사용중';
                    document.getElementById('check01').style.color='red';
                }
            }
        } 

 
  //비밀번호 체크
        function check02_pw(){
            var pw = document.getElementById('pw').value;
            var SC = ["!","@","#","$","%"];
            var check02_SC = 0;
 
            if(pw.length < 6 || pw.length>16){
                window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
                document.getElementById('pw').value='';
            }
            for(var i=0;i<SC.length;i++){
                if(pw.indexOf(SC[i]) != -1){
                	check02_SC = 1;
                }
            }
            if(check02_SC == 0){
                window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
                document.getElementById('pw').value='';
            }
            if(document.getElementById('pw').value !='' && document.getElementById('pw2').value!=''){
                if(document.getElementById('pw').value==document.getElementById('pw2').value){
                    document.getElementById('check02').innerHTML='비밀번호가 일치합니다.'
                    document.getElementById('check02').style.color='blue';
                }
                else{
                    document.getElementById('check02').innerHTML='불일치';
                    document.getElementById('check02').style.color='red';
                }
            }
        }

  
  //전화번호 하이픈 추가
      const autoHyphen = (target) => {
       target.value = target.value
         .replace(/[^0-9]/g, '')
         .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
      }

      const autoHyphen2 = (target) => {
       target.value = target.value
         .replace(/[^0-9]/g, '')
        .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
      }

		
 
  
    const gnbbar = document.querySelector(".gnbbar");
    const gnbmenu = document.querySelectorAll("nav.gnb>ul>li");
    gnbmenu.forEach((v, index) => {
      if (index !== 0) {
        v.addEventListener("mouseover", (e) => {
          gnbbar.style.display = "block";
        });

        v.addEventListener("mouseout", (e) => {
          gnbbar.style.display = "none";
        });
      }
    });

    // swiper
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>

</html>