@import url(reset.css);

.center {
  width: 1200px;
  margin: 0 auto;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* header- START */
header div.center>div {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
  padding: 0 50px;
}

header h1 {
  width: 60px;
  text-align: center;
}

header h1 a {
  width: 100%;
  height: 100%;
  font-size: 8px;
}

header h1 a:hover {
  color: inherit
}

header h1 a img {
  width: 100%;
}

header form.main_search {
  width: 500px;
  margin: 25px 0 0 150px;
}

header form.main_search img {
  width: 35px;
}

form.main_search input {
  height: 52px;
  border-color: #b39981
}

header .main_search button {
  width: 80px;
  height: 50px;
  background-color: #feef88;
  padding: 0;
  margin: 1px;
  border-radius: 10%;
  border: none;
  margin-left: -81px
}

header div.util {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  line-height: 40px;
}

header div.util.mypage {
  width: 240px;
}

header div.util a>img {
  width: 40px;
}

/* gnb */
header nav.gnb {
  min-width: 1200px;
  border-top: 1px solid #713f12;
  border-bottom: 1px solid #713f12;
  margin-top: 15px;
  font-weight: 700;
  position: relative;
}

header nav.gnb>ul {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  text-align: center;
  height: 60px;
  justify-content: space-between;
}

header nav.gnb>ul>li {
  line-height: 60px;
  font-size: 22px;
  position: relative;
  height: 60px;
}

header nav.gnb>ul>li>a {
  display: block;
  width: 100%;
  height: inherit;
}

header nav.gnb>ul>li>ul {
  width: 700px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  z-index: 6;
  position: absolute;
  bottom: -40px;
  left: -120%;
  visibility: hidden;
}

header nav.gnb>ul>li:hover ul {
  visibility: visible;
}

header nav.gnb>ul>li:nth-child(1):hover::after {
  display: none;
}

header nav.gnb>ul>li:nth-child(3)>ul {
  width: 600px;
  left: -200%;
}

header nav.gnb>ul>li:nth-child(4)>ul {
  width: 1000px;
  position: absolute;
  bottom: -40px;
  left: -640%;
}

header nav.gnb>ul>li>ul>li {
  line-height: 40px;
}

/* header- END */

.center {
  width: 1200px;
  margin: 0 auto;
}

/* common button-START */

.btn_ylw {
  background-color: #fedf12;
}

.btn_ylw:hover {
  background-color: #fedf12;
}

.btn_default {
  background-color: #eeeeee;
}

.btn_default:hover {
  background-color: #eeeeee;
}

/* common button-END */

/* admin table-START */
.admin_table_name .row {
  height: 100px;
}

.admin_table_name h2 {
  font-size: 45px;
  font-weight: bold;
}

.admin_table_name_btn {
  font-weight: bold;
  color: #333;
  width: 120px;
  height: 50px;
  bottom: 45%;
  right: 12%;
}

.admin_table_name a {
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin-top: -40px;
}

.admin_table_name a.selected {
  text-decoration-line: underline;
}

table.admin_table th {
  border: #aaa solid 1px;
}

table.admin_table td {
  border: #aaa solid 1px;
}

table.admin_table td form.delete {
  display: inline-block;
}

table.admin_table thead tr th {
  font-size: 18px;
  font-weight: bold;
  background-color: #eeeeee;
}

table.admin_table button {
  margin-left: 5px;
  margin-right: 5px;
}

table.admin_table button:disabled{
  background-color: #bbb;
  color:#fff;
  border:none;
}



/* admin table-END */

/* product-edit-START */
#productEditor h2 {
  font-size: 35px;
  font-weight: bold;
  color: #333;
  padding: 80px 0;
}

img#thumbnailPreview {
  width: 384px;
  height: 384px;
  padding-bottom: 20px;
}

#productEditor input[type=file] {
  display: none;
}

#productEditorRight .col-name {
  font-size: 15px;
  font-weight: bold;
}

#productEditorRight .row {
  padding-top: 30px;
}
input#creator, input#name{
  margin-left: -24px;
}
input#price, input#alcohol{
  margin-left: -12px;
}

#productEditorRightWhiteSpace {
  height: 50px;
}

#productEditorBottom {
  margin-top: 50px;
  margin-bottom: 100px;
}

#productEditor .exp_title {
  display: block;
  font-size: 25px;
  font-weight: bold;
}

#productEditorBottom .col-8 div {
  margin-top: 30px;
}
#productEditorBottom .col-8 label{
  display: block;
}

#multipleExpPreview img{
  max-width: 776px;
  margin: 0 auto;
  display:block;
}

#productEditorBottom button {
  margin-left: 20px;
}

/* product_edit-END */

/* reply-START */
#reply{
  width: 850px;
  margin: 0 auto 200px;
  background-color: #feee8886;
  padding: 60px;
}
#reply h3{
  font-size: 30px;
  padding-left: 10px;
  margin-bottom: 30px;
}
#reply form{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
}
#reply label{
  font-size: 18px;
  line-height: 40px;
}
#reply div.row{
  margin: 15px 0;
}
#reply div.row input#title{
  width: 430px;
  margin: 0 15px
}
#reply .col{
  margin: 0 15px;
}
#reply input:disabled, #reply input[readonly]{
  background-color: #eeeeee5f;
}
#reply textarea{
  margin-bottom: 10px;
}
#reply form>div:last-child{
  text-align: right;
}
#reply form>div:last-child button:last-child{
  width: 80px ;
  background-color: #eeeeee;
  margin-left: 50px;
}

/* reply-END */

/* pagination-START */
.pagination li a {
  margin: 10px;
  border-radius: 100%;
  color: #333;
  background-color: #eeeeee;
}

.pagination li a.active {
  background-color: #fedf12;
  color: #333;
  border-color: #eeeeee;
}

.page-item:first-child .page-link {
  border-radius: 100%;
}

.page-item:last-child .page-link {
  border-radius: 100%;
}

/* paginaton-END */

/* footer-START */
footer {
  min-width: 1200px;
  background-color: #333;
  color: #aaa;
  margin-top: 100px;
  font-size: 14px;
}

footer div.center {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 80px 50px;
  justify-content: space-between;
}

footer .left_wrap {
  display: grid;
  grid-template-columns: auto auto;
}

footer .left_wrap>p.btm_logo img {
  width: 77px;
}

footer .left_wrap .text_wrap {
  display: grid;
  row-gap: 10px;
  margin-left: 25px;
}

footer .left_wrap .text_wrap>p {
  font-size: 20px;
  font-weight: 700;
}

footer .left_wrap .text_wrap nav ul {
  display: flex;
  width: 390px;
  justify-content: space-between;
}

footer .left_wrap .text_wrap .info {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

footer .left_wrap .text_wrap .contact_info {
  display: flex;
  justify-content: space-between;
  width: 370px;
  margin-bottom: 60px;
}

footer div.cs dl {
  display: grid;
  row-gap: 10px;
}

footer div.cs dt,
footer div.social h4 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

footer div.cs dd:nth-of-type(1) {
  color: #fedf12;
  font-weight: 900;
  font-size: 24px;
}

footer div.cs dd:last-child {
  line-height: 25px;
}

footer div.social p {
  margin: 20px 0;
}

footer div.social ul {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

/* footer-END */

/*up button*/
div#up.show{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fedf12;
  background-image: url(/img/up-arrow.png) ;
  background-position: center center;
  background-size: 40px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}