/* login -START */
.login_container,.find_container {
  padding-bottom: 100px;
}

.login_container form.login_form,
.find_container .find_form{
  width: 700px;
  margin: 50px auto;
  padding: 80px;
  background-color: #eee
}
.login_container .login_box input{
   font-size:18px;

}
.login_container .login_box input:first-child{
    margin-bottom:20px
}

.login_container button.login {
  background-color: #fedf12;
}

.login_container .find_group button#findId, button#findPw {
  background-color: #730;
  color: #fff;
}
.login_container button#findPw{
    margin-right:-16px;
    }

.login_container #join {
  background-color: #2b1807;
  color: #fff;
  width: 556px;
}
/* login -END */

/* welcome - START*/
.welcome_container{
  margin-top:80px;
  margin-bottom: 200px;
}
.welcome_container p{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  line-height: 2em;
  margin: 0 auto;
}
.welcome_container div.welcome{
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #efefef;
}.welcome_container div.welcome::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/oneshot_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.welcome_container button#login{
  display: block;
  background-color: #fedf12;
  margin: 0 auto;
  font-weight: 700;
}
/* welcome- END*/
/* find-form ONLY -START*/
.find_container .find_form{
    position-relative;
    background-color:#feef8888;
}

.find_container .find_form p{
    font-size:20px;
    text-align:center;
    line-height:2;
}
.find_container .find_form label{
    font-size:20px;
    font-weight:700;
    line-height: 2;
    text-align: center;
}
.find_container .find_form button.find, #reset_pw button.reset, #reset_pw_mypage button.reset{
    background-color:#773300;
    position:relative;
    color:#fff;
}
.find_container .find_form button.find{
    left: calc(50% - 73px);
}
.find_container .find_form button.find.pw{
    left:calc(50% - 113px)
}

/* find-form ONLY -END*/
/*found-id ONLY - START*/
.find_container div.found_id, #reset_pw{
    width:600px;
    height:400px;
    padding:50px;
    margin: 0 auto;
    background-color:#feef8888;
}
.find_container div.found_id>p{
    text-align:center;
    width:300px;
    margin:50px auto;
    font-size:30px;
}
.find_container div.found_id div.button_group{
    margin: 50px 0;
}
.find_container div.found_id div.button_group button{
    background-color:#773300;
    color: #fff;
}
/*found-id ONLY - END*/
/*reset-pw ONLY - START*/
#reset_pw button.reset, #reset_pw_mypage.reset{
    left:calc(50% - 83px);
    margin-top:20px;
}
#reset_pw label, #reset_pw_mypage label{
    font-weight:700;
    font-size:18px;
    line-height:42px;
    text-align:center;
}
#reset_pw span #reset_pw_mypage span{
    display: block;
    width:200px;
    margin:20px 0 0 170px;
}

/*reset-pw ONLY - END*/

/* mypage-reset-pw ONLY - START*/
#reset_pw_mypage{
width:600px;
height:450px;
padding:50px;
margin: 0 auto;
background-color:#feef8888;
}
/* mypage-reset-pw ONLY - START*/

/* 회원가입 */
.join-section {
  padding: 100px 0;
}

.join-container {
  width: 700px;
  margin: 50px auto 0;
}

.join-container .join-agree-label {
  display: flex;
  justify-content: space-between;
}

.join-container .join-agree-box {
  border: 1px solid #ddd;
  padding: 20px;
  height: 100px;
  overflow-y: auto;
}

.join-container .input-img-group {
  display: flex;
}

.join-container .input-img-group>span {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.join-container .input-img-group>span>img {
  width: 100%;
}

.join-section .join-btn-group {
  display: flex;
  margin-top: 50px;
  gap: 10px;
}

.join-container .duble-check-btn {
  width: 100px;
  margin-left: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.join-container .btn {
  background-color: #fedf12;
  color: #000;
}

.join-btn-group {
  padding-top: 20px;
  width: 100%;
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  background-color: #fedf12;
  color: #000;
}

.btn-group{
 padding-top: 50px;	
}