/* login -START */
.login_container {
  padding-bottom: 100px;
}

.login_container form.login_form{
  width: 700px;
  margin: 50px auto;
  padding: 80px;
  background-color: #eee
}
.login_container .login_box input{
   font-size:18px;

}
.login_container .login_box input:first-child{
    margin-bottom:20px
}

.login_container button.login {
  background-color: #fedf12;
}

.login_container .find_group button#findId, button#findPw {
  background-color: #730;
  color: #fff;
}
.login_container button#findPw{
    margin-right:-16px;
    }

.login_container #join {
  background-color: #2b1807;
  color: #fff;
  width: 556px;
}
/* login -END */

/* welcome - START*/
.welcome_container{
  margin-top:80px;
  margin-bottom: 200px;
}
.welcome_container p{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  line-height: 2em;
  margin: 0 auto;
}
.welcome_container div.welcome{
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #efefef;
}.welcome_container div.welcome::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/oneshot_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.welcome_container button#login{
  display: block;
  background-color: #fedf12;
  margin: 0 auto;
  font-weight: 700;
}
/* welcome- END*/


/* 회원가입 */
.join-section {
  padding: 100px 0;
}

.join-container {
  width: 700px;
  margin: 50px auto 0;
}

.join-container .join-agree-label {
  display: flex;
  justify-content: space-between;
}

.join-container .join-agree-box {
  border: 1px solid #ddd;
  padding: 20px;
  height: 100px;
  overflow-y: auto;
}

.join-container .input-img-group {
  display: flex;
}

.join-container .input-img-group>span {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.join-container .input-img-group>span>img {
  width: 100%;
}

.join-section .btn_group {
  display: flex;
  margin-top: 50px;
  gap: 10px;
}

.join-container .duble-check-btn {
  width: 100px;
  margin-left: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.join-container .btn {
  background-color: #fedf12;
  color: #000;
}