@charset "utf-8";

/* container-START*/
/* main_banner-START */
.swiper {
  min-width: 1200px;
}
.swiper div.swiper-slide a {
  display: block;
  min-width: 1200px;
  height: 666px;
  background-position: center top;
}
.swiper div.swiper-slide:nth-of-type(1) a {
  background-image: url(/img/banner/main_banner_tokkisoju.jpg);
}
.swiper div.swiper-slide:nth-of-type(2) a {
  background-image: url(/img/banner/main_banner_baekjesoju.jpg);
}
.swiper div.swiper-slide:nth-of-type(3) a {
  background-image: url(/img/banner/main_banner_makgeolli.jpg);
}
.swiper-pagination-bullet-active {
  background-color: #fedf12;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fedf12;
}
/* main_banner-END */

/* btm_banner-START */
section.main_container div.btm_banner_wrap {
  margin: 250px 0;
  background-color: #2b1807;
  min-width: 1200px;
}
section.main_container div.btm_banner {
  position: relative;
  width: inherit;
}
section.main_container div.btm_banner::before {
  content: "";
  background: url(/img/banner/btm_banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
}
section.main_container div.btm_banner p {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  padding: 200px 0;
  width: 500px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  line-height: 70px;
}
/* btm_banner-END */
/* notice-START */
section.main_container table.notice {
  width: 1000px;
  margin: 0 auto 400px;
  text-align: center;
}
section.main_container table.notice thead {
  background-color: #feef88;
}
section.main_container table.notice tbody tr {
  border-bottom: 1px solid #b39981;
}
section.main_container table.notice button {
  background-color: #feef88;
}
section.main_container table.notice button:hover {
  background-color: #feef88;
}
.modal-body {
  text-align: center;
}
/* notice-END */
/* container-END*/
