@charset "UTF-8";
@import url(reset.css);

/* container */
.mypage_container{
    width: 1200px;
    margin: 0 auto 200px;
}
.mypage_container .mypage{
    width:1000px;
    margin: 0 auto 100px;
    display:flex;
    justify-content:space-between;
    }
.mypage_container h3{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 100px 0;
}
/* user icon */
.mypage_user_icon {
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-size: 280px 280px;
    height: 280px;
    width: 280px;
    font-size: 0;
}
/* user info */
.mypage_user_info {
    text-align: center;
}
.mypage_user_info h4{
    font-size: 25px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 10px;
}
.mypage_user_info div{
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 20px;
}
.mypage_user_info div>a{
    font-size: 20px;
    font-weight: 700;
}
/* user interface */
.mypage_user_interface{
    text-align: center;
    left: 20%;
    transform:translateX(-5%);
}
.mypage_user_interface{
    background-color: #feef88;
    border-radius: 10px;
    width: 500px;
    height: 350px;
}
/* mypage form -- START */
.mypage_user_interface form{
    background-color: #feef88;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.mypage_user_interface .input-group span{
    background-color: #feef88;
    border-right: 1px solid #773300;
    border-bottom: 1px solid #773300;
    border-radius: 0;
    width:100px;
    height: auto;
    text-align: center;
    align-items: center;
}
.mypage_user_interface_bg{
    background-color: #feef88;
    border-radius: 10px;
}

.mypage_user_interface .input-group:first-child *{
    border-radius: 10px;
    border-bottom: 0px !important;
}

.mypage_user_interface .input-group:nth-child(2) *{
    border-top: 1px solid #773300;
}
.mypage_user_interface .input-group input {
    background-color: #feef88;
    border-left: 1px solid #773300;
    border-bottom: 1px solid #773300;
    border-radius: 0;
    width: 270px;
    font-size: 20px;
    line-height: 75px;
}
.mypage_user_interface .input-group input:focus{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #773300;
    outline: 0 none;
}
.mypage_user_interface .input-group:last-child *{
    border-radius: 10px;
    border-bottom: 0px !important;
}

.mypage_icon {
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    left: 20px;
    top: 20px;
    width: 50px; 
    height: 50px; 
}

/* mypage form -- END */

/* user table icon img */
.user_icon_img{
    background-image: url(../img/user.png);
    /* background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    left: 20px;
    top: 20px;
    width: 50px; 
    height: 50px;  */
}
.phone_icon_img{
    background-image: url(../img/telephone.png);
    /* background-size: 50px 50px;
    background-repeat: no-repeat;
    font-size: 0;
    left: 20px;
    top: 20px;
    width: 50px; 
    height: 50px;  */
}
.email_icon_img{
    background-image: url(../img/mail-inbox.png);
    /* background-size: 50px 50px;
    background-repeat: no-repeat;
    font-size: 0;
    left: 20px;
    top: 20px;
    width: 50px; 
    height: 50px;  */
}
.home_icon_img{
    background-image: url(../img/home.png);
    /* background-size: 50px 50px;
    background-repeat: no-repeat;
    font-size: 0;
    left: 20px;
    top: 20px;
    width: 50px; 
    height: 50px; 
    border-bottom: 0px !important; */
}

/* button */
.mypage_button{
    position: relative;
    margin-top: 30px;
}
.mypage_button button{ 
    height: 50px;
    width: 130px;
    border-radius: 5px;
    transition: 0.3s;
}
.mypage_button button:hover{ 
    height: 50px;
    width: 130px;
    border-radius: 5px;
    transform: scale(1.1);
}

.mypage_edit_button,.mypage_check_button{
    background-color: #fedf12;
    size: 20px;
    font-weight: 500;
    border: 0px;
}
.mypage_edit_button{
    position:absolute;
    right:0;
 }
.mypage_button_hidden{
    padding-top: 10px;
    display: none;
    position:absolute;
    right:0;
}
.mypage_cancle_button{
    size: 20px;
    font-weight: 500;
    border: 0px;
    background-color: #00000023;
    margin-right: 20px;
}
/* 주문/배송 */
.mypage_search{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.mypage_container h4.title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 50px 0px;
}
.mypage_container table{
    border-top: 1px solid #773300;
    border-bottom: 1px solid #773300;
    width: 1000px;
    font-size: 20px;
    text-align: center;
}
.mypage_search thead{
    background-color: #feef88;
}
.mypage_search tr{
    border-top: 1px solid #773300;
    line-height: 100px;
}
.mypage_search th{
    padding:0px 30px;
}
.mypage_search .btn_primary{
    background-color: #fedf12;
    color:#2b1807;
    border: 0px;
    transition: 0.3s;
}
.mypage_search .btn_primary:hover{
    background-color: #fedf12;
    color:#2b1807;
    border: 0px;
    transform: scale(1.1);
}


/* 주문/배송 모달창 */
.order_modal_table{
    border: 1px solid #773300;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.order_modal_table thead{
    background-color: #feef88;
    border-bottom: 1px solid #773300;
}
.order_modal_table thead th,.order_modal_table tbody td{
    border-right: 1px solid #773300;
}
#order_modal_table_body tr{
    border-bottom: 1px solid #773300;
}
div.modal-dialog.inquiry pre{
    background-color: #eee;
}


/* 페이징 버튼 */
.pagination li a {
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 5px;
    border-radius: 100%;
    color: #333;
    text-align: center;
    background-color: #eeeeee;
}

.pagination li a.active {
    background-color: #fedf12;
    color: #333;
    border-color: #eeeeee;
}

.page-item:first-child .page-link {
    border-radius: 100%;
}

.page-item:last-child .page-link {
    border-radius: 100%;
}