<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>전통주 이야기</title>
    <link rel="icon" href="../img/favicon-32x32.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main_style.css" />
    <link rel="stylesheet" href="../css/explanation.css"/>
  </head>
  <body>
    <!-- header : START -->
    <header>
      <div class="center">
        <div>
          <h1>
            <a href="/"
              ><img src="../img/oneshot_logo.png" alt="원샷-우리술 한잔" />우리술
              한 잔,</a
            >
          </h1>
          <form role="search" class="main_search">
            <div class="row">
              <input
                type="search"
                name="keyword"
                placeholder="상품명을 입력하세요."
                class="col form-control"
                aria-label="Search"
              />
              <button type="submit" class="col-1">
                <img src="../img/search.png" alt="검색" />
              </button>
            </div>
          </form>
          <div class="util main">
            <a href="login.html">로그인</a>|
            <a href="join.html">회원가입</a>
            <a href="cart.html"><img src="../img/cart.png" alt="장바구니" /></a>
          </div>
          <div class="util mypage"  style="display:none" >
            <div>홍길동님</div>|
            <a href="#">로그아웃</a>
            <a href="cart.html"><img src="../img/cart.png" alt="장바구니" /></a>
            <a href="mypage.html"><img src="../img/user.png" alt="마이페이지" /></a>
          </div>
        </div>
      </div>
      <nav class="gnb">
        <div class="gnbbar"></div>
        <ul class="center">
          <li><a href="">전통주 이야기</a></li>
          <li>
            <a href="">지역별 전통주</a>
            <ul>
              <li><a href="">전체 상품</a></li>
              <li><a href="">서울, 경기, 인천권</a></li>
              <li><a href="">강원, 세종권</a></li>
              <li><a href="">충북, 충남, 제주도</a></li>
              <li><a href="">전북, 전남, 경북, 경남</a></li>
            </ul>
          </li>
          <li>
            <a href="">주종별 전통주</a>
            <!-- <div class="gnbbar"></div> -->
            <ul>
              <li><a href="">증류주</a></li>
              <li><a href="">과실주</a></li>
              <li><a href="">약주 / 청주</a></li>
              <li><a href="">숙성 전통주</a></li>
              <li><a href="">기타주</a></li>
            </ul>
          </li>
          <li>
            <a href="">가격별 전통주</a>
            <!-- <div class="gnbbar"></div> -->
            <ul>
              <li><a href="">10,000원 이하 제품</a></li>
              <li><a href="">20,000원 이하 제품</a></li>
              <li><a href="">30,000원 이하 제품</a></li>
              <li><a href="">40,000원 이하 제품</a></li>
              <li><a href="">50,000원 이하 제품</a></li>
              <li><a href="">50,000원 이상 제품</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
<!-- header : END -->
<!-- container : START -->
<div class="explanation_container">
  <h1>한국의전통주 세계인의전통주</h1>
  <div>
    <p>옛 선조들이 즐겨 마셨던 <strong><u>전통주</u></strong> 현재는 세계화에 발 맞추어 <strong><u>많은 시도가</u></strong> 이루어지고 있습니다&#46;</p>
    <p>현재 전통주는 도수와 주종에 많은 변화가 이루어 지고 있습니다&#46; 전통주&#33; 이젠 한국전통주가 함께 합니다&#46;</p>
  </div>
  <div>
    <p>A traditional drink enjoyed by our ancestors in the past&#44; many attempts are being made to keep pace with</p>
    <p>globalization&#46;Currently&#44; there are many changes in tho alcohol content and main type of traditional liquor&#46;</p>
    <p>Traditonal sake&#33; Now&#44; traditional Korean sake is with you&#46;</p>
  </div>
  <div>
    <img src="../img/화면 캡처 2023-06-08 015505.png" alt="첫번째 이미지"/>
  </div>
  <div>
    <p><strong><u>함께호흡</u></strong>하며&#44;우리 술 한잔을 알면 마시고&#44; <strong><u>마시면 사랑하게 되는 전통주</u></strong> 그것이 <strong><u>우리술</u></strong> 입니다&#46;</p>
    <p>세계의 유명술이 그 나라의 전통주라는 사실을 인지하고 우리나라의 휼륭한 전통 명주를 알리고자</p>
    <p>노력하고 있습니다&#46;</p>
  </div>
  <div>
    <p>We breathe together&#44; and if you know a glass of our alcohol&#44; drink it&#44; and if you drink it&#44;you will fall in love with it&#46;</p>
    <p>Recognizing that the world&#39;s famous liquor is the traditional liquor of that country&#44;</p>
    <p>We are trying&#46;</p>
  </div>
  <div>
    <img src="../img/화면 캡처 2023-06-08 015526.png" alt="두번째 이미지"/>
  </div>
  <div>
    <h2>전통주 분석 데이터</h2>
    <div>
      <img src="../img/가설1.png" alt="분석 데이터 이미지" width="1200px"/>
    </div>
    <div><p>분석 데이터 설명</p></div>
  </div>
</div>
<!-- container : END -->
<!-- footer : START -->
<footer>
  <div class="center">
    <div class="left_wrap">
      <p class="btm_logo"><img src="../img/oneshot_logo_bw.png" alt="원샷 - 우리술 한잔,"></p>
      <div class="text_wrap">
        <p>원샷 - 우리술 한잔,</p>
        <address>서울시 서대문구 연세로 8-1</address>
        <nav>
          <ul>
            <li><a href="">전통주 이야기</a></li>
            <li><a href="">지역별 전통주</a></li>
            <li><a href="">주종별 전통주</a></li>
            <li><a href="">가격별 전통주</a></li>
          </ul>
        </nav>
        <div class="info">
          <p>대표 : 홍길동</p>
          <p>사업자 등록번호 : 100-11-111111</p>
          <p>개인정보관리자 : 홍길동</p>
        </div>
        <div class="contact_info">
          <p>대표번호 : 02-1234-1234</p>
          <p>메일 : oneshot@oneshot.com</p>
        </div>
        <div>Copyrights&copy; oneshot All Rights Reserved.</div>
      </div>
    </div>
      <div class="cs">
        <dl>
          <dt>CS CENTER</dt>
          <dd>070-1234-1234</dd>
          <dd>평일 : 09:00 ~ 18:00<br>
            점심 시간 : 12:00 ~ 13:00<br>
            주말 밋 공휴일 제외
          </dd>
        </dl>
      </div>
      <div class="social">
        <h4>SOCIAL MEDIA</h4>
        <p>Follow @oneshot</p>
        <ul>
          <li><a href="#"><img src="../img/instagram_footer.svg" alt="인스타그램"></a></li>
          <li><a href="#"><img src="../img/youtube_footer.svg" alt="유투브"></a></li>
          <li><a href="#"><img src="../img/facebook_footer.svg" alt="페이스북"></a></li>
        </ul>
      </div>
  </div>
</footer>
<!-- footer : END -->
<script>
  const gnbbar = document.querySelector(".gnbbar")
  const gnbmenu = document.querySelectorAll("nav.gnb>ul>li")
  gnbmenu.forEach((v, index) => {
    if (index !== 0) {
      v.addEventListener("mouseover", (e) => {
        gnbbar.style.display = "block";
      });

      v.addEventListener("mouseout", (e) => {
        gnbbar.style.display = "none";
      });
    }
  });
</script>
</body>
</html>
