<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>원샷-우리술 한 잔,</title>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="icon" href="img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/main_style.css" />
  <link rel="stylesheet" href="css/main_banner.css">
</head>

<body>
  <div id="up" onclick="scrollToTop()"><span class="blind">스크롤 올리기</span></div>
  <!-- header : START -->
  <header th:replace="~{fragment/defaultHeader :: #header}">
  </header>
  <!-- header : END -->
  <!-- mainbanner : START -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a href="#"><span class="blind">토끼소주 골드</span></a></div>
      <div class="swiper-slide"><a href="#"></a><span class="blind">백제소주 25도</span></div>
      <div class="swiper-slide"><a href="#"><span class="blind">짝꿍막걸리</span></a></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- mainbanner : END -->
  <!-- container : START -->
  <section class="main_container">
    <h2 class=" center title">새롭게 만나보는 우리 술</h2>
    <ul class="product_list center" >
      <li th:each="product: ${products}">
        <div class="item_cont" >
          <div class="item_photo_box" >
            <a href="item_detail.html" th:href="@{/product/item_detail/{id}(id=${product.id})}"><img alt="" th:src="@{${'/'+product.img_thumb}}"></a>
          </div>
          <div class="item_info_cont">
            <div class="item_title_box">
              <a href="item_detail.html" th:href="@{/product/item_detail/{id}(id=${product.id})}">
                <span class="item_title" th:text="${product.name}" ></span>
              </a>
            </div>
            <div class="item_price_box">
              <span th:text="${product.price+'원'}"></span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="btm_banner_wrap">
      <div class="btm_banner">
        <p>원샷과 함께<br>우리술을 즐겨보세요.</p>
      </div>
    </div>
    <h3 class="title center">공지사항</h3>
    <table class="table notice">
      <thead>
        <tr>
          <th>No.</th>
          <th>게시일</th>
          <th>제목</th>
          <th>내용보기</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="notice: ${notices}">
          <td th:text="${notice.id}"></td>
          <td th:text="${notice.date_created}">2023-06-02</td>
          <td th:text="${notice.title}">6월 6일 현충일 휴무 안내</td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" th:data-bs-target="|#notice${notice.id}|">보기</button>
            <!-- Modal -->
            <div class="modal fade" th:id="|notice${notice.id}|" tabindex="-1" >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" th:id="|notice${notice.id}|" th:text="${notice.title}">공지사항</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <pre th:text="${notice.content}"></pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <!-- container : END -->
  <!-- footer : START -->
  <footer th:replace="~{fragment/footer :: #footer}">
  </footer>
  <!-- footer : END -->
  <script src="js/header.js"></script>
<script>
  // swiper
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
</body>

</html>