<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>전통주 이야기</title>
  <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main_style.css" />
</head>
<body>
  <div id="up" onclick="scrollToTop()"><span class="blind">스크롤 올리기</span></div>
  <!-- header : START -->
  <header th:replace="~{fragment/defaultHeader :: #header}"></header>
  <!-- header : END -->
  <!-- container : START -->
  <section class="story_container">
    <h3 class="title center">전통주란?</h3>
    <div class="definition">
      <p>전통적으로 이어져오는 양조법을 계승하여 빚는 술로,<br>한국의 정서 및 시대상을 반영하는 술로서 과거의 생활방식,<br>역사와 문화가 담겨있는 술입니다.</p>
      <dl class="row">
        <dt class="col-2">법적정의</dt>
        <dd class="col">‘전통주 등의 산업 진흥에 관한 법률에따라 주류부문의 무형문화재 보유자가 제조한 술이나<br>대한민국 식품 명인이 제조한술, 또는 지역 특산주와 같은 농어업경영체 또는
          생산자 단체가 지역 농산물을 주원료로 제조한 술을 의미합니다.</dd>
      </dl>
    </div>
    <div class="center">
      <h3 class="title">전통주 종류</h3>
      <ul>
        <li>
          <dl class="row">
            <dt class="col-2">탁주</dt>
            <dd class="col">곡류(쌀, 밀, 보리 등) 원료에 국(누룩, 입국 등)과 물을 섞어 일정한 온도에서 발효시킨 술덧을 체 등으로 걸러 제조한 술이다.
              '탁하게 빚은 술'이라고 하여 탁주, '방금 막 거른 술'이라고하여 막걸리라고도 한다.
              탁주의 주원료는 멥쌀, 밀누룩 그리고 물이다. 멥쌀 고두밥을 찐 뒤에 이를 식혀서 물과 함께 빻은 누룩을 비벼 항아리에 담는다.
              항아리를 25도 전후의 따뜻한 곳에 놓아두면 술이 발효되기 시작하여 빠르게는 4~5일 만에, 더디게는 7~8일 만에 완성된다.</dd>
          </dl>
        </li>
        <li>
          <dl class="row">
            <dt class="col-2">약/청주</dt>
            <dd class="col">막걸리와 같은 방식으로 술을 빚고 발효시킨 술덧에서 술지게미를 걸러내어 맑게 만든 술이다.
              곡류 중 쌀을 원료로 하고 누룩을 1% 이상 사용하면 약주, 1% 미만을 사용하면 일본 사케 방식인 청주라고 한다.</dd>
          </dl>
        </li>
        <li>
          <dl class="row">
            <dt class="col-1">증류주</dt>
            <dd class="col">막걸리, 약주, 청주와 같은 발효주를 증류하여 만든 술로, 주세법상의 증류식소주, 일반 증류주, 리큐르 등이 있다.
              대표적인 한국 증류주인 소주는 '불로 익혀 만든 진한 술'이라는 뜻으로, 곡물을 발효시켜 증류한 술인 증류식 소주와 주정을 물에 희석하여 제조한 희석식 소주가 있다.</dd>
          </dl>
        </li>
        <li>
          <dl class="row">
            <dt class="col-2">과실주</dt>
            <dd class="col">과실을 발효시켜 만든 술을 말한다. 지역 대표 과실의 특성을 살려 만드는 경우가 많으며, 포도, 복분자, 머루, 사과, 복숭아, 딸기 등 다양한 과실이 사용된다.
            </dd>
          </dl>
        </li>
      </ul>
      <h3 class="title">검색량으로 보는 전통주이야기</h3>
      <p class="analysis">최근 전통주의 인기는 심상치 않습니다. 2017년 7월, 전통주의 온라인 판매가 허용이후 전통주는 더이상 명절용 술이 아닌 일상에서 즐길 수 있는 술로 자리잡았습니다.
        전통주에 대한 관심을 확인해보고자 포털사이트 네이버의 주종별로 검색량을 비교해보았습니다.
        아래의 그래프는 2018년 1월부터 2023년 5월까지 소주, 맥주, 전통주의 검색량을 비교한 그래프로 최대 검색량을 100으로 보았을 때의 검색량 추이 그래프입니다.</p>
      <div id="graph1">
      <iframe width="1200" height="600" frameborder="0" scrolling="no" src="//plotly.com/~jooeunjung0429/17.embed"></iframe>
      </div>
      <!-- 전통주 검색량 간단 분석 from 주류 트렌드 리포트 2022 -->
      <p class="analysis">
        전반적인 기간에 걸쳐 소주, 맥주보다 전통주의 검색량이 대부분 높은 것으로 확인 할 수 있습니다. 그래프를 보면 전통주의 검색량이 고점을 찍는 시기는 1,2월과 5월, 8,9월과 12월로 확인 할 수
        있습니다. 설기간과 가정의달, 추석과 연말로 전통주가 선물을 하거나 차례를 지낼 때 사용되기 때문에 특히 그 시기에 검색량이 증가하는 것을 확인할 수 있습니다. </p>
      <div id="graph2">
        <iframe width="1200" height="600" frameborder="0" scrolling="no" src="//plotly.com/~jooeunjung0429/14.embed"></iframe>
      </div>
      <p class="analysis">
        2021년 1월부터 2023년 5월까지 전통주 종류별로 검색량을 추이를 비교해보았습니다. 그래프에서 확인하실 수 있듯이 전반적으로 청주, 과실주, 탁주, 증류주, 과하주(포트와인곽 같은 주정강화주)
        순으로 검색량이 높게 나타납니다. 특히, 청주의 경우 차례를 지낼 때 사용되기 때문에 검색량이 고점을 보이는 기간이 설과 추석 전인 1월과 8월인 것을 확인할 수 있습니다.
      </p>
      <div id="graph3">
        <iframe width="1200" height="600" frameborder="0" scrolling="no" src="//plotly.com/~jooeunjung0429/22.embed"></iframe>
      </div>
      <p class="analysis">
      2018년도부터 월별 전통주 검색량을 바탕으로 2024년 5월까지 앞으로의 전통주 검색량 추이를 예측해볼때 꾸준히 검색량은 조금씩 증가하는 추세로 보이며 여전히 전통주가 쓰이는 명절인 설, 추석기간과 가정의달인 5월에 높은 검색량을 보일것으로 예측 됩니다.  
      </p>
    </div>
  </section>
  <!-- container : END -->
  <!-- footer : START -->
  <footer th:replace="~{fragment/footer :: #footer}"></footer>
  <!-- footer : END -->
  <script src="js/header.js"></script>

</body>

</html>