<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>로그인</title>
  <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main_style.css" />
  <link rel="stylesheet" href="/css/login.css" />

</head>

<body>
<div id="up" onclick="scrollToTop()"><span class="blind">스크롤 올리기</span></div>
<!-- header-START -->
<header th:replace="~{/fragment/defaultHeader :: #header}">
</header>
<!-- header-END -->
<!-- container-START  -->
<section class="center login_container">
  <h3 class="title">로그인</h3>
  <form id="loginForm" class="login_form" th:method="post" th:action="@{/login}">
    <div class="login_box row pb-3">
      <div class="col">
        <label for="loginId" class="blind">아이디</label>
        <input type="text" id="loginId" class="form-control  mb-2 py-2" placeholder="아이디" name="loginId">
        <label for="pw" class="blind">비밀번호</label>
        <input type="password" class="form-control py-2" placeholder="비밀번호" id="pw" name="pw">
      </div>
      <button class="btn login btn-lg col-3" type="button" th:onclick="login()">로그인</button>
    </div>
    <div class="find_group row my-3 px-3 justify-content-between">
      <button class="btn col-6 py-3" id="findId" type="button" onclick="location.href='/find-id'">아이디 찾기</button>
      <button class="btn col-6" id="findPw" type="button" onclick="location.href='/find-pw'">패스워드 찾기</button>
    </div>
    <button id="join" class="btn py-3" type="button" onclick="location.href='/join'">회원가입</button>
  </form>
</section>
<!-- container-END -->
<!-- footer-START -->
<footer th:replace="~{/fragment/footer :: #footer}">
</footer>
<!-- footer-END -->
<script src="js/header.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="js/login.js"></script>
</body>
</html>