<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입 완료</title>
  <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main_style.css" />
  <link rel="stylesheet" href="/css/login.css" />

</head>

<body>
<div id="up" onclick="scrollToTop()"><span class="blind">스크롤 올리기</span></div>
  <!-- header-START -->
  <header th:replace="~{fragment/defaultHeader :: #header}"></header>
  <!-- header-END -->
  <!-- container-START  -->
    <section class="center welcome_container">
      <p>회원 가입이 완료되었습니다.<br>
      원샷과 함께 우리술을 만나보세요.</p>
      <div class="welcome"></div>
      <button class="btn py-3" id="login" th:onclick="|location.href='@{/login}'|">로그인 하러가기</button>
    </section>
  <!-- container-END -->
  <!-- footer-START -->
  <footer th:replace="~{fragment/footer :: #footer}"></footer>
  <!-- footer-END -->
  <script src="js/header.js"></script>
</body>
</html>